site_name: rotalabs-accel
site_description: High-performance inference acceleration with Triton kernels
site_url: https://rotalabs.github.io/rotalabs-accel/
repo_url: https://github.com/rotalabs/rotalabs-accel
repo_name: rotalabs/rotalabs-accel

theme:
  name: material
  logo: assets/logo-icon-light.png
  favicon: assets/logo-icon-light.png
  palette:
    - scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            heading_level: 2
            members_order: source
            show_signature_annotations: true
            separate_signature: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - API Reference:
      - Overview: api/index.md
      - Kernels:
          - Normalization: api/kernels/normalization.md
          - Activations: api/kernels/activations.md
          - RoPE: api/kernels/rope.md
          - INT8 GEMM: api/kernels/gemm.md
      - Quantization: api/quantization.md
      - Modules: api/modules.md
      - Utilities: api/utils.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rotalabs/rotalabs-accel
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/rotalabs-accel/
  generator: false

copyright: |
  <a href="https://rotalabs.ai"><img src="assets/logo-light-full.png" alt="Rotalabs" style="height: 30px; vertical-align: middle;"></a>
  &nbsp;&copy; 2025 Rotalabs
